# /etc/systemd/system/docker-compose-app.service

[Unit]
Description = Docker Compose Harbor Service
Requires = docker.service
After = docker.service

[Service]
WorkingDirectory = {{ harbor_install_dir }}/harbor

Environment=PATH=/usr/local/bin:{{ ansible_env.PATH }}

ExecStart = /usr/local/bin/docker-compose up
ExecStop = /usr/local/bin/docker-compose down

TimeoutStartSec = 60s
Restart = on-failure
StartLimitBurst = 3

[Install]
WantedBy=multi-user.target

